<div class="table-wrapper">
  <h1>parking slips Catalogue</h1>
  <h2>{{ isEditMode ? 'Edit parkingSlips' : 'Add new parkingSlips' }}</h2>
  <form (submit)="onSubmit()" #parkingSlipsForm='ngForm'>
    <mat-form-field>
      <input matInput placeholder="reservationId" name="reservationId"
             required [(ngModel)]="parkingSlipsData.reservationId">
    </mat-form-field>
    <mat-form-field>
      <input  matInput placeholder="entryTime" name="entryTime"
              required [(ngModel)]="parkingSlipsData.entryTime">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="exitTime" name="exitTime"
             required [(ngModel)]="parkingSlipsData.exitTime">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="totalCost" name="totalCost"
             required [(ngModel)]="parkingSlipsData.totalCost">
    </mat-form-field>

    <ng-container *ngIf="isEditMode; else elseTemplate">
      <button mat-button color="primary">Update</button>
      <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button mat-button color="primary">Add</button>
    </ng-template>
  </form>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> #Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="driverId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> driverId</th>
      <td mat-cell *matCellDef="let element">{{ element.reservationId }}</td>
    </ng-container>
    <ng-container matColumnDef="parkingLotId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> parkingLotId</th>
      <td mat-cell *matCellDef="let element">{{ element.entryTime }}</td>
    </ng-container>
    <ng-container matColumnDef="durationTime">
      <th mat-header-cell *matHeaderCellDef> durationTime</th>
      <td mat-cell *matCellDef="let element">{{ element.exitTime }}</td>
    </ng-container>
    <ng-container matColumnDef="dateBooking">
      <th mat-header-cell *matHeaderCellDef> dateBooking</th>
      <td mat-cell *matCellDef="let element">{{ element.totalCost }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element">
        <a href="javascript:void(0)" (click)="editItem(element)"><mat-icon>edit</mat-icon></a>
        <a href="javascript:void(0)" (click)="deleteItem(element.id)"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{'editable-row': parkingSlipsData.id === row.id}"></tr>
  </table>


  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"
                 showFirstLastButtons></mat-paginator>
</div>
