<div class="table-wrapper">
  <h1>credit card Catalogue</h1>
  <h2>{{ isEditMode ? 'Edit credit card' : 'Add new credit card' }}</h2>
  <form (submit)="onSubmit()" #creditCardForm='ngForm'>
    <mat-form-field>
      <input matInput placeholder="type" name="type"
             required [(ngModel)]="creditCardData.type">
    </mat-form-field>
    <mat-form-field>
      <input  matInput placeholder="number" name="number"
              required [(ngModel)]="creditCardData.number">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="dateExpiration" name="dateExpiration"
             required [(ngModel)]="creditCardData.dateExpiration">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="cvi" name="cvi"
             required [(ngModel)]="creditCardData.cvi">
    </mat-form-field>

    <ng-container *ngIf="isEditMode; else elseTemplate">
      <button mat-button color="primary">Update</button>
      <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button mat-button color="primary">Add</button>
    </ng-template>
  </form>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> #Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> type</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> number</th>
      <td mat-cell *matCellDef="let element">{{ element.number }}</td>
    </ng-container>
    <ng-container matColumnDef="dateExpiration">
      <th mat-header-cell *matHeaderCellDef> dateExpiration</th>
      <td mat-cell *matCellDef="let element">{{ element.dateExpiration }}</td>
    </ng-container>
    <ng-container matColumnDef="cvi">
      <th mat-header-cell *matHeaderCellDef> cvi</th>
      <td mat-cell *matCellDef="let element">{{ element.cvi }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element">
        <a href="javascript:void(0)" (click)="editItem(element)"><mat-icon>edit</mat-icon></a>
        <a href="javascript:void(0)" (click)="deleteItem(element.id)"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{'editable-row': creditCardData.id === row.id}"></tr>
  </table>


  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"
                 showFirstLastButtons></mat-paginator>
</div>

