<div class="table-wrapper">
  <h1>driver Catalogue</h1>
  <h2>{{ isEditMode ? 'Edit driver' : 'Add new driver' }}</h2>
  <form (submit)="onSubmit()" #driverForm='ngForm'>
    <mat-form-field>
      <input matInput placeholder="creditCard" name="creditCard"
             required [(ngModel)]="driverData.creditCard">
    </mat-form-field>
    <mat-form-field>
      <input  matInput placeholder="fullName" name="fullName"
              required [(ngModel)]="driverData.fullName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="contact" name="contact"
             required [(ngModel)]="driverData.contact">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="vehicle" name="vehicle"
             required [(ngModel)]="driverData.vehicle">
    </mat-form-field>

    <ng-container *ngIf="isEditMode; else elseTemplate">
      <button mat-button color="primary">Update</button>
      <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button mat-button color="primary">Add</button>
    </ng-template>
  </form>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> #Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="creditCard">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> creditCard</th>
      <td mat-cell *matCellDef="let element">{{ element.creditCard }}</td>
    </ng-container>
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> fullName</th>
      <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
    </ng-container>
    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef> contact</th>
      <td mat-cell *matCellDef="let element">{{ element.contact }}</td>
    </ng-container>
    <ng-container matColumnDef="vehicle">
      <th mat-header-cell *matHeaderCellDef> vehicle</th>
      <td mat-cell *matCellDef="let element">{{ element.vehicle }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element">
        <a href="javascript:void(0)" (click)="editItem(element)"><mat-icon>edit</mat-icon></a>
        <a href="javascript:void(0)" (click)="deleteItem(element.id)"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{'editable-row': driverData.id === row.id}"></tr>
  </table>


  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"
                 showFirstLastButtons></mat-paginator>
</div>

